.nav-container {
  width: 100vw;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: top 0.5s;
  z-index: 2000;
}

.navbar-hidden {
  top: -50%;
}

.navbar-visible {
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  margin-top: 1rem;
}

.nav-container img {
  width: auto;
  height: 81px;
}

.nav-elements {
  display: flex;
  gap: 1.5rem;
  margin-right: 1.5rem;
}

.nav-elements li {
  list-style: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: 0.25s ease;
};

.nav-elements li a {
  color: var(--primary-link-colour);
  font-weight: 600;
}

.nav-elements li a:link {
  color: var(--primary-link-colour);
}

.nav-elements li a:visited {
  color: var(--primary-link-colour);
}

.nav-elements li:hover {
  transform: scale(1.15, 1.15);
  transition: 0.25s ease;
}

.nav-elements li a:hover {
  color: var(--primary-link-colour);
  border-bottom: 2px solid var(--primary-link-colour);
}

.nav-elements li a:active {
  /* color: black; */
  border-bottom: 2px solid var(--primary-link-colour);
}

.default-link {
  border-bottom: 2px solid var(--primary-link-colour);
}

/* Hamburger menu */
.hamburger {
  display: none;
  border: none;
  background: none;
  color: var(--primary-link-colour);
  transition: 0.3s ease-in-out;
}


/* medium size */
@media(max-width: 1024px) {
  .nav-elements {
    margin-right: 0;
  }
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 1000;
    overflow: hidden;
  }

  .nav-elements {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    left: -130%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    gap: 4rem;
    margin-right: 0;
    /* margin-top: -1rem; */
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.9);
    z-index: 200;
  }

  .nav-elements li {
    margin-right: 0rem;
    font-size: 2rem;
  };
  
  .nav-elements li a {
    color: var(--primary-link-colour);
    font-weight: 600;
  }
  
  /* moves the links into view inside the hamburger menu */
  .nav-elements.active {
    left: 50%;
    transform: translateX(-50%);  
    touch-action: none;
  }
}